/.project
/.settings
/.classpath
*/download
*.zip
*.log
*.config
*.bat
*.flv
*.mp4
*.exe
*.jar
*.part
*.m4s
*.txt
*.jpg
*.png
*.webp
*.config
/bin
/target
/config
/release/ffmpeg
/release/prelook/png
/release/prelook/gif
/.idea