/.project
/.settings
/.classpath
*/download
*.zip
*.log
*.config
*.bat
*.flv
*.mp4
*.exe
*.jar
*.part
*.m4s
*.txt
*download
*.config
simplelogger.properties
/bin
/target
/config
/release/ffmpeg
/release/zip
/.idea