/.project
/.settings
/.classpath
*/download
*.zip
*.log
*.config
*.bat
*.flv
*.mp4
*.exe
*.jar
*.part
*.m4s
*.txt
*download
*.config
simplelogger.properties
/bin
/target
/config
/release/ffmpeg
/release/config
/release/zip
/release/wiki
/release/parsers1
/release/parsers
/.idea
/parsers1
/parsers
/update