# 0: MP4 1:FLV
bilibili.format = 0

# 分页查询时，每页最大显示个数
bilibili.pageSize = 5

#下载文件保存路径， 可以是相对路径，也可以是绝对路径
bilibili.savePath = download/
#bilibili.savePath = D:\Workspace\bilibili\

#最大的同时下载任务数
bilibili.download.poolSize = 3

# 同时支持HTTP + HTTPS 代理
#proxyHost = 127.0.0.1
#proxyPort = 1080

# 仅代理HTTP
#http.proxyHost = 127.0.0.1
#http.proxyHost = 1080

# 仅代理HTTPS
#https.proxyHost = 127.0.0.1
#https.proxyPort = 1080

# SOCKS 代理，支持 HTTP 和 HTTPS 请求
# 注意：如果设置了 SOCKS 代理就不要设 HTTP/HTTPS 代理
#socksProxyHost = 127.0.0.1
#socksProxyPort = 1080