# 下载文件命名格式
## avId - av号 e.g. av1234567
## pAv - av 的第几个视频  e.g. p1/p2
## pDisplay - 合集的第几个视频 e.g. pn1/pn2
## qn - 清晰度值  e.g. 32/64/80
## avTitle - av标题 
## clipTitle - 视频小标题
###   以下可能不存在，仅在收藏夹/UP主视频搜索时有效
### listName - 集合名称  e.g. 某收藏夹的名称
### listOwnerName - 集合的拥有者 e.g. 某某某 （假设搜索的是某人的收藏夹）
####    pDisplay 和 pAv 可能不一致, 比如有的ss是分布在不同的av的第一个视频, 有的则是分布在同一av的不同p
##bilibili.name.format = avTitle-pDisplay-clipTitle-qn
# (:条件 格式字符串) 当条件成立时，文件名将增加括号内的格式字符串(注意条件和格式字符串中间的空格)
bilibili.name.format = (:listName listName-)avTitle-pDisplay-clipTitle-qn

# 下载完成后是否马上重命名 
# 若为false, 那么会追加到重命名文件， 可以人工运行rename.bat 重命名
bilibili.name.doAfterComplete = true
#######################################################################################################
# 下载异常后尝试次数， 0 则异常后不再尝试
bilibili.download.maxFailRetry = 3

# 优先下载格式
# 0: MP4 1:FLV
bilibili.format = 0

#######################################################################################################
# 分页查询时，每页最大显示个数
bilibili.pageSize = 10

# 分页查询时，结果展示方式
## promptAll 每个av弹出一个Tab页
## listAll 所有选项在一个Tab页面里呈现
bilibili.pageDisplay = listAll
#######################################################################################################
#下载文件保存路径， 可以是相对路径，也可以是绝对路径
bilibili.savePath = download/
#bilibili.savePath = D:\Workspace\bilibili\

#######################################################################################################
#最大的同时下载任务数
bilibili.download.poolSize = 3

#######################################################################################################
#UI主题
# default swing默认
# system 跟随系统
bilibili.theme = default

#######################################################################################################
#临时文件严格模式开启与否
#开启后，如果已经存在下载好的视频(无论视频损坏与否)，该视频对应的临时文件将会被删除
#关闭后，当下载完成后，如果视频大小达标，该视频对应的临时文件将会被删除。某些异常可能会导致临时文件未被删除而一直存在。
# on / off
bilibili.restrictTempMode = on

#######################################################################################################
#是否使用仓库功能
# 开启后，每次下载前都会先从仓库查询记录。 若存在，则不开始任务
bilibili.repo = on

# 仓库功能关闭时，是否仍保存下载成功的记录(即只保存成功的下载记录而不作其它操作)
bilibili.repo.save = on

# 同一视频的不同清晰度算不算同一记录
##		on  : 同一视频两种清晰度算不同记录
##		off : 同一视频两种清晰度算相同记录
bilibili.repo.definitionStrictMode = off

#######################################################################################################
# 同时支持HTTP + HTTPS 代理
#proxyHost = 127.0.0.1
#proxyPort = 8888

# 仅代理HTTP
#http.proxyHost = 127.0.0.1
#http.proxyHost = 1080

# 仅代理HTTPS
#https.proxyHost = 127.0.0.1
#https.proxyPort = 1080

# SOCKS 代理，支持 HTTP 和 HTTPS 请求
# 注意：如果设置了 SOCKS 代理就不要设 HTTP/HTTPS 代理
#socksProxyHost = 127.0.0.1
#socksProxyPort = 8888